.cards-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  padding: 5px;
}

#one h4,
strong {
  color: rgb(187, 25, 79);
}

#one {
  text-align: center;
}

#box1 h4:hover {
  color: rgb(13, 132, 82)
}

#box1:hover {
  box-shadow: 3px 8px 5px gray;
  background-color: whitesmoke;
}

/* part 3 */
#back {
  background-image: url(./images/b1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

}

#back h4 {
  font-weight: 700;
  color: teal;
}

#back p {
  font-size: larger;
  font-weight: 500;
}

.input {
  width: 250px;
  padding: 5px;
  margin: 2px;
  border: 1px solid wheat;
}

.bt {
  padding: 4px;
  margin: 2px;
  border: 1px solid black;
  width: 70px;
  background-color: rgb(240, 69, 69);
}

/* part 4 */
#center .p {
  font-weight: 500;
  font-style: italic;
  font-size: larger;
  color: red;
}

#center h1 {
  color: #21618c
}

.cardss-img-top {
  border-radius: 5px;
  width: 50px;

}

.hi {
  padding: 5px;
}

.hi h4 {
  color: rgb(142, 70, 11);
}

.btns button {
  padding: 5px;
  width: 90px;
  margin: 2px;
  border: 1px solid white;
  color: white;
  background-color: red;
}

.btns button:hover {
  background-color: cyan;
  color: black;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/* part 5 */



#white h5 {
  text-align: center;
  color: red;
  font-weight: 700;
  font-style: italic;

}

.cardsse-img-top {
  border-radius: 50%;
}

#two h4 {
  margin-top: 3px;
  color: rgb(144, 181, 144);
  transition: 0.5s ease;
}

#two h4:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

/* card 5 */
#style {
  justify-content: center;

}

.card1-img-top {
  padding: 5px;
  border-radius: 10px;
}

.car {
  background-color: whitesmoke;
  border-radius: 2px;
}

.of {
  color: red;
}

.off button {
  width: 40px;
  padding: 3px;
  margin: 3px;
  border: 1px solid black;
  font-weight: 700;
}

.off button:hover {
  background-color: red;
  color: white;
}

/* ...............imges part.............. */

.card1-container {
  position: relative;
  display: inline-block;
  /* Ensure the container size is based on the image */
}

.card1-img-top {
  width: 100%;

  transition: 3s ease;
}

.p1 {
  position: absolute;
  top: 15px;
  left: 20px;
  margin: 0;
  /* Remove default margin */
  background-color: rgba(255, 255, 255, 0.7);
  /* Optional: to make text more readable */
  padding: 2px 5px;
  /* Optional: add some padding */
  font-size: 17px;
  /* Adjust as needed */
  color: #000;
  /* Text color */
}

.p1:hover {
  background-color: red;
  color: white;
}

.card1-img-top:hover {
  transform: scale(1.1);
}

.ims {
  overflow: hidden;
}

/* ........................................... */

/* part 6 */
.card2-img-top {
  width: 150px;
}

.card3-img-top {
  height: 500px;
}

.card4-img-top {
  height: 500px;
}

@keyframes up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-22px);
    /* Adjust the value as needed */
  }

  100% {
    transform: translateY(0);
  }
}

.card3-img-top {
  animation: up 3s ease-in-out infinite;
}

@keyframes down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(22px);
    /* Adjust the value as needed */
  }

  100% {
    transform: translateY(0);
  }
}

.card4-img-top {
  animation: down 3s ease-in-out infinite;
}

#rose {
  background-image: url(./images/bg2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#flower {
  margin-top: 35px;
  margin-bottom: 20px;

}

/* part 7 */

#green {
  position: relative;
  /* Ensure the content is on top of the pseudo-element */
  z-index: 1;
}

#green::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./images/bg6.avif);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  /* Adjust the opacity value as needed */
  z-index: -1;
  /* Place the background below the content */
}

#tree {
  margin-top: 55px;
  margin-bottom: 37px;
  justify-content: space-evenly;
}

#o {
  background-color: white;
  width: 350px;
}

#tree h1 {
  color: teal;
}

.t {
  margin-top: 20px;
  text-align: center;
}

.between {
  justify-content: space-between;
  display: flex;
}

.between:hover {
  cursor: pointer;
  color: red;
}

.ce:hover {
  cursor: pointer;
  color: red;

}

.t h5 {
  color: red;
  font-style: italic;
}

.t h2 {
  font-weight: 650;
}

/* part 8 */

#team h4 {
  color: red;
  font-style: italic;
}

#team h2 {
  font-weight: 650;
}

.card-bottom-underline {
  position: relative;
  padding-bottom: 2px;
  /* Adjust padding as needed */
}

.card-bottom-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  height: 3px;
  /* Adjust the thickness of the underline */
  background-color: #000;
  /* Change color as needed */
}

.card-one h3:hover {
  color: red;
  cursor: pointer;
}

.card-one p {
  color: gray;
  font-size: large;
}

.card-bottom-underline {
  overflow: hidden;
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.2);
}

.card5-img-top {
  transition: 2s ease;
}

.card5-img-top:hover {
  transform: scale(1.1);
}

/* part 9 */
#part h4 {
  color: red;
  font-style: italic;
}

.card1 {
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.2);
}

.cc {
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.2);

}

/* part 10 */
.carr {
  font-size: 20px;
  color: gray
}

.colorss {
  color: red;
  font-style: italic;
}

#yellow {
  background-color: azure;
}

#color {
  margin-top: 28px;
  margin-bottom: 50px;
}

#pp {
  text-decoration: underline;
  text-decoration-color: teal;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

#pp:hover {
  cursor: pointer;
}

.cap {
  background-color: rgb(250, 247, 244);
  overflow: hidden;
  box-shadow: 0 7px 16px rgba(0, 0, 0, 0.2);
}

.cap h4:hover {
  color: red;
  cursor: pointer;

}

.card7-img-top {
  transition: 3s ease;
}

.card7-img-top:hover {
  transform: scale(1.1);
}

/* part 11 */


#blue {
  background-image: url(./images/bg13.avif);
  background-repeat: no-repeat;
  background-size: cover;

}

#bird {
  margin-top: 80px;
  margin-bottom: 100px;
}

#ph p {
  margin-top: 18px;
}


#hh ul li {
  list-style-type: none;
  padding: 2px;
  font-weight: 500;
  color: white;

}

#hh ul {
  margin-top: 18px;
}

#bird h4 {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  color: white;
}

#bird h6 {
  color: honeydew;
}

#bird p {
  color: white;
}

#bird h4:hover {
  color: mistyrose;
}

.inputs {
  width: 150px;
  padding: 5px;
  margin: 2px;
  border: 1px solid wheat;
}

.bts {
  padding: 4px;
  margin: 2px;
  border: 1px solid white;
  width: 78px;
  background-color: rgb(240, 69, 69);
  color: white;
}

.inputs::placeholder {
  color: green;
}