.custom-nav {
    margin-left: 90px;
    font-weight: 700;
    color: black;
    transition: transform 0.3s ease;

}

.custom-nav .nav-link:hover {
    transform: scale(1.1);
    color: #007bff;
    
}

.custom-nav .nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
    
}

/* Create an underline effect using border-bottom with smooth transition */
.custom-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -1px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.custom-nav .nav-link:hover::after {
    width: 90%;
    /* Expand the underline smoothly on hover */
}

.custom-nav .nav-link:hover {
    color: #007bff;
    /* Optional: Change text color smoothly on hover */
}

